* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --White: hsl(0, 0%, 100%);
  --Slate300: hsl(212, 45%, 89%);
  --Slate500: hsl(216, 15%, 48%);
  --Slate900: hsl(218, 44%, 22%);

  --fuentePrincipal: "Outfit", sans-serif;

  --sm: 1.4rem;
  --md: 2rem;
  --lg: 2.4rem;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  font-family: var(--fuentePrincipal);
  background-color: var(--Slate300);
}

.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 1rem;
  height: 100vh;
  overflow: hidden;
}

.contenedor-secundario {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: var(--White);
  border-radius: 1.5rem;
}

.img {
  object-fit: cover;
  border-radius: 1.5rem;
  width: 100%;
}

.h2 {
  font-weight: bold;
  text-align: center;
  margin: 0.8rem 0;
  font-size: var(--lg);
}

.parrafo {
  color: var(--Slate500);
  font-size: var(--sm);
  text-align: center;
  margin-bottom: 1.5rem;
}
